<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Layouts.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>
    <header>
        <div> <strong>Menu</strong> 
        </div>
        <strong>Topo</strong> 
    </header>

    <main>
        <strong>Conteúdo</strong> 
    </main>

    <aside> 
        <strong>Infos adicionais</strong> 
    </aside>

    <footer> 
       <strong>Rodapé</strong> 
    </footer>
</body>
</html>