<!--
    SVG

    É uma marcação, estilo html, as não é para textos, e sim para fazer imagens
    Possuimos elementos para gerar formas

    Para entender melhor
    - Imagem rasterizada x Imgem vetorizada

    Bnefícios
    - Mais Leve
    - Mais detalhaada
    - Maior acessibilidade e SEO
    - Pode ser editada via CSS ou atributps


    Desvantagens
    - Pode ser mais complicado de trabalhar
    - Quanto mais complexa a imagem, mais trabalho para o navegador 
    - Navegadores mais antigos não possuem suporte a essa tag

    Para fotografias, ainda preferia usar imagnes rasterizadas.
    .png, .jpg, .jpeg, f

-->

<svg width="100" height="100">
<circle cx="50" cy="50" r="40" stroke="green"
stroke-width="4" fill="yellow"/>
</svg>

<svg width="300" height="200">
    <rect width="100%" height="100%" fill="blue"/>
</svg>

