@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');


h1{
    font-family: 'Water Brush', cursive;
    color:rgb(0, 0, 0);
    font-size: 50px; 
    height: 100px; 
    width: 50px;
}
strong{
    color: rgb(0, 0, 0);
}